@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-weight:300;
    font-size: 12px;
    line-height:30px;
    color:#777;
    background-color: #DAF0EE;
}

.container{
    max-width:400px;
    width:100%;
    margin:auto;
    top: 15%;
    position:absolute;
    text-align: center;
    background: white;
    padding: 50px 75px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

h1{
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:1000;
	font-size: 40px;
        color: black;
        
}

a{
    text-decoration: none;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
}


.input {
  border: 2px solid transparent;
  width: 100%;
  max-width: 300px;
  height: 40px;
  padding: 5px 10px 5px 10px;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 3px rgb(74, 157, 236, 20%);
  background-color: white;
}


button {
 font-size: 16px;
 position: relative;
 margin: auto;
 padding: 1em 2.5em 1em 2.5em;
 border: none;
 background: #fff;
 transition: all 0.1s linear;
 box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

button:active {
 transform: scale(0.95);
}

button span {
 color: #464646;
}

.full-rounded {
 border-radius: 2em;
}

::-webkit-input-placeholder {
    font-size: 15px;
}